
html {
  height: 100%;
}
body {
  min-height: 100%;
  text-align: center;
  background-color: #5a3a22;
}

h1, h2 {
    color:#ff4f57;
}

a {
    color: #ff4f57;
}

table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}

.error {
    color: red;
    font-style: italic;
}

#banniere {
  height:700px;
  width: 90%;
  background-image:url(springthymmyleaf.jpg);
  margin-left: auto;
  margin-right: auto;
}
