
html {
  height: 100%;
}
body {
  min-height: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom,rgba(255,0,0,0), rgb(113, 59, 20));
}

h1, h2 {
    color:#ff4f57;
}

a {
    color: #ff4f57;
}

table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}

.error {
    color: red;
    font-style: italic;
}

#banniere {
  height:600px;
  width: 90%;
  background-image:url(springthymmyleaf.jpg);
}
