*{
  font-family: sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  text-align: center;
  background-color: #68574a;
}
h1, h2 {
    color:#ff4f57;
}

a {
    color: #ff4f57;
}

table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}

.error {
    color: red;
    font-style: italic;
}

#banniere {
  height:480px;
  width: 1000px ;
  background-image:url(springthymmyleaf.jpg);
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px
}
table {
  margin-left: auto;
  margin-right: auto;
}
