<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:utext="${title}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body class="enjoy-css" >
        <br/><br/>
        <div id="banniere"></div>
        <h1 th:utext="${title}" />
        <a th:href="@{/contacts}">Contact List</a>  
        <br/><br/>
        <div>Copyright © dariawan.com</div>
        <h2>Processed by ID :</h2>
        <th:block th:text="${myHostName}">[host]</th:block>
    </body>
</html>
